<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/AT_Assignment_POM">
        <classes>
            <class name="testCases.testCases">
                <methods>
                    <include name="TestCase_SearchUserWithPartialTextMatch"/>
                    <include name="TestCase_VerifyUserCanAddPayGrades"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>